

body{       
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;

}

.cabecalho{
    background-color: #141414;
    padding: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 25px;

}
.cabecalho nav{
     margin-top: 0.5rem;
     display: flex;
     flex-wrap: wrap;
     gap: 6px;
         
}
.cabecalho nav{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.cabecalho nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.banner{
    position: relative;
    background: url(.//fotos1/euela.jpg)no-repeat center center/cover;
    padding: 100px 1rem 2rem;
    background-size: cover;

}

.banner::after{
    content: ' ';
   background: linear-gradient(to top,rgba(177, 213, 47, 0.4), rgba(0,0,0,0.06));
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
}
.conteudo{
    position: relative;
    max-width: 100%;
    color: white;
    z-index: 2;
}

.título{
      font-family: "Passions Conflict", cursive;
      font-size: 40px;
      margin: 0;

}
.detalhes{
    margin: 1px 0;
    font-size: 9px;
    color: #ccc;
}

.descricao{
    font-size: 11px;
    line-height: 1.3    ;

}
.botoes{
   margin-top: 10px;
}
.botoes button{
    background: #fff;
    color: black;
    border: none;
    padding: 9px 12px;
    margin-right: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

  .momentos {
    padding: 1.5rem 1rem;

  }
  .momentos h2 {
    font-size: 20px;
    margin-bottom: 1rem;
  }

.momentos{
    padding: 1.5rem 1rem;

}

.momentos h2{
    margin-bottom:  1rem;
    font-size: 20px;

}

.swiper{
    width: 100%; 
    padding-bottom: 20px;
}

.swiper-slide{
    width: auto !important;

}
.swiper-slide img{
    display: block;
    width: 200px;
    border-radius: 5px;
    margin: 20px auto;  


}

@media (min-width: 900px){
    .swiper-slide img{
        width: 400px;
    }
}

footer{
    background-color: #141414;
    padding: 1rem;
    text-align: center;
    font-size: 12;
    color: #aaa;
    
}


.modal-conteudo {
    width: 90%;
    max-width: 1000px;
    position: relative;
}

.modal-conteudo video {
    width: 100%;
    border-radius: 10px;
}

.fechar {
    position: absolute;
    top: -40px;
    right: 0;
    color: white;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
}



.modal-video {
    display: none; /* IMPORTANTE */
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.btn-play:hover {
    background-color: #010101;
    transform: scale(1.05);
    transition: 0.5s;
}

.modal-conteudo {
    width: 90%;
    max-width: 1000px;
    position: relative;
}

.modal-conteudo video {
    width: 100%;
    border-radius: 10px;
}

.fechar {
    position: absolute;
    top: -50px;
    right: 0;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.botoes {
    display: flex;
    gap: 2px; /* espaço entre os botões */
    margin-top: 10px;
}



.btn-favorito {
    background: white;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 6px;
}

/* estrela padrão */
.btn-favorito i {
    color: black;
    transition: 0.3s;
}

/* quando ativo */
.btn-favorito.ativo i {
    color: gold;
    animation: pulse 0.6s ease-in-out;
}

/* animação pulsar */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.4); }
    100% { transform: scale(1); }
}

.modal-video {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-conteudo {
    width: 90%;
    max-width: 900px;
}

.modal-conteudo video {
    width: 100%;
    border-radius: 10px;
}

.fechar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.modal-lista{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.lista-conteudo{
    background:#141414;
    width:80%;
    max-width:700px;
    padding:30px;
    border-radius:10px;
    color:white;
}

.lista-conteudo h2{
    color:#fdf9f9;
    margin-bottom:20px;
}

.item-lista {
    background: #222;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.item-lista:hover {
    transform: scale(1.03);
    background: #333;
}

.item-lista.clicado {
    transform: scale(0.95);
    background: #E50914;
}
.modal-lista{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.lista-conteudo{
    background:#141414;
    color:white;
    width:80%;
    max-width:600px;
    padding:30px;
    border-radius:10px;
}

.fechar{
    float:right;
    cursor:pointer;
    font-size:30px;
}
.modal-mensagem{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    justify-content:center;
    align-items:center;
    z-index:10000;
}

.mensagem-conteudo{
    background:#141414;
    color:white;
    width:80%;
    max-width:500px;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

.btn-play {
    background-color: white;
    color: black;
    transition: 0.3s;
}

@media (hover: hover) {
    .btn-play:hover {
        background-color: #010101;
        color: white;
        transform: scale(1.05);
    }
}

.card-serie{
    display:flex;
    gap:15px;
    background:#222;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
    transition:0.3s;
}

.card-serie:hover{
    transform:scale(1.03);
}

.card-serie img{
    width:90px;
    height:130px;
    object-fit:cover;
    border-radius:8px;
}

.info-serie{
    flex:1;
}

.estrelas{
    font-size:18px;
}

.card-filme{
    display:flex;
    align-items:center;
    gap:15px;
    background:#222;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
    transition:0.3s;
}

.card-filme:hover{
    transform:scale(1.03);
}

.card-filme img{
    width:90px;
    height:130px;
    object-fit:cover;
    border-radius:8px;
}

.info-filme{
    flex:1;
}

.info-filme h3{
    margin:0;
}

.estrelas{
    margin-top:8px;
    font-size:18px;
}

/* Ajuste dos cards de séries e filmes */
.card-serie,
.card-filme {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.card-serie img,
.card-filme img {
    width: 120px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}


/* Modal com rolagem */
.lista-conteudo {
    max-height: 80vh;
    overflow-y: auto;
}


/* Ajuste para celular */
@media (max-width: 600px) {

    .lista-conteudo {
        width: 90%;
        max-height: 85vh;
        padding: 15px;
    }


    .card-serie,
    .card-filme {
        flex-direction: row;
    }


    .card-serie img,
    .card-filme img {

        width: 80px;
        height: 120px;

    }


    .info-serie h3,
    .info-filme h3 {
        font-size: 16px;
    }


    .info-serie p,
    .info-filme p {
        font-size: 13px;
    }

}

